*{
    margin: 0%;
    padding: 0%;
}
.section1{
    background-color: #000000; padding: 20px;
    position: fixed;
    width: 100%;  

    top: 0;
    color: #ffffff;
    font-family:'PT serif';

}
.link{
    margin-right: 60px;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    font-size: large;
    margin-right: 20px;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/minimal-living-room-interior-design-pattern-wall-background_221619-1800.jpg");
    background-size: 100% 744px ;
    background-repeat: no-repeat;
}
.contain{
    width: 450px;
    height: 450px;
    background-color: black;
    margin-left: 15%;
    margin-top: 10%;
    text-align: center;
    color: cadetblue;
}
.contain h1{
    font-size: 40px;
    color: cadetblue;
}
.contain .text{
    position: relative;
    top: 7%;
}
.inpl{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 300px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.inpm{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 300px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}
.text button{
    width: 200px;
    height: 40px;
    background-color: grey;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 30px;
    cursor: pointer;
}
button:hover{
    border: 3px solid grey;
    color: white;
    font-size: 22px;
    background-color: black;
}
p{
    margin-top: 30px;
    font-size: 20px;

}
p #name{
    color: brown;
    cursor: pointer;
}


